*{
    margin: 0;
    padding: 0;
}

body{
    margin: auto;
    background-color: rgb(159, 198, 216);
    font-family: 'Oswald', sans-serif;
}

header{
    background: rgb(56 99 228);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
}

.home{
    color: white;
    text-align: center;
    align-self: center;
    font-size: 18px;
    flex: 1;
}

.search{
    display: flex;
    padding: 1px;
    flex: 4;
    justify-content: space-evenly;
}

.input{
    flex: 5;
    
}

.search-btn{
    background-color: rgb(219, 69, 10);
    color: white;
    font-size: 14px;
    margin-left: 30px;
    padding: 0px 0px;
    border-style: none;
    border-radius: 3px;
    height: 42px;
    flex: 1;
    align-self: center;
}

.search-btn:hover{
    background-color: rgb(36, 69, 112);
    cursor: pointer;
}

#input{
    height: 40px;
    width: 100%;
    padding: 0px 10px;
    align-self: center;
    border: solid rgb(74, 79, 83) 2px;
    border-radius: 3px;
    
}

.languages{
    flex: 1;
    color: white;
    align-self: center;
    text-align: center;
}

.wrapper{
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
    
}

.current-day{
    background: linear-gradient(0deg, rgba(82,203,228,1) 10%, rgb(41, 41, 187) 100%);
    color: white;
    width: 250px;
    height: 250px;
    text-align: center;
}

.location, .current-weather, .temperature, .max-min-weather{
    margin-top: 2px;
}

.temperature{
    font-size: 24px;
}

@media screen and (max-width: 500px){
    header {
    display: block;
    }

    .home{
        margin-bottom: 10px;
    }

    .search-btn{
        padding: 0px 5px;
    }
}